# exclude all
/*

# Include important folders
!src/

# Gradle stuff
!gradle/
!gradlew
!gradlew.bat
!build.gradle
!build.properties
!settings.gradle

# Other Files.
!LICENSE
!README.md
!curse_upload.json
!.travis.yml

# Include git important files
!.gitmodules
!.gitignore
